@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cor--primario: #b5f1cc;
  --cor--secundario: #d0f3e3;
  --cor-destaque: #70bbdb;
  --botao: #3a4246;
}

/*Reset*/
* {
  font-family: "Roboto", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor--secundario);
}

/*header*/

.cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__image {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 200px;
}

.cabecalho__titulo {
  font-size: 52px;
  background-color: var(--cor-destaque);
  padding: 10px;
  /*padding: 0 100%;*/
}

.cabecalho__navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.cabecalho__botao {
  text-decoration: none;
  color: var(--botao);
  padding: 0 20px;
  font-size: 32px;
}

/*corpo*/
.corpo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.corpo__texto {
    color: var(--botao);
  flex-direction: column;
  text-align: center;
  padding: 40px;
  font-size: 20px;
  background-color: var(--cor--primario);
  border-radius: 12.5px;
}


.corpo__texto__lista{
    list-style-position: inside;
    text-align: center;


}
.corpo__images {
    justify-content: space-around;
    padding: 20px;
}

.corpo__titulo{
  text-align: center;
}

.corpo__mapa{
  justify-content: center;
  align-items: center;
}
/*imagens*/

.corpo__image {
  height: 200px;
}

/*rodape*/
.rodape {
  position: fixed;
  width: 100%;
  bottom: 0;
}
